html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.is-invalid {
    color: red;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}

