@model AzeShop.Areas.Admin.Models.LoginModel
@{
    Layout = null;
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đăng nhập</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Adminassets/images/logo/favicon.png">

    <!-- page css -->
    <!-- Core css -->
    <link href="~/Adminassets/css/app.min.css" rel="stylesheet">

</head>

<body>
    <div class="app">
        <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex" style="background-image: url('/Adminassets/images/others/login-3.png')">
            <div class="d-flex flex-column justify-content-between w-100">
                <div class="container d-flex h-100">
                    <div class="row align-items-center w-100">
                        <div class="col-md-7 col-lg-5 m-h-auto">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between m-b-30">
                                        <img class="img-fluid" alt="" src="~/Adminassets/images/logo/logo.png">
                                    </div>
                                    <form id="form-validation" asp-action="AdminLogin" method="post">
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="userName">Tài khoản:</label>
                                            <div class="input-affix m-b-10">
                                                <i class="prefix-icon anticon anticon-user"></i>
                                                @Html.TextBoxFor(m => m.AccountName, new {placeholder = "Tên tài khoản", @class = "form-control", @value="vuvanthuyen" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="password">Mật khẩu:</label>
                                            <div class="input-affix m-b-10">
                                                <i class="prefix-icon anticon anticon-lock"></i>
                                                @Html.PasswordFor(m => m.Password, new {placeholder = "Mật khẩu", @class = "form-control", @value="171102" })
                                            </div>

                                        </div>
                                        <div class="errorTxt"></div>

                                        <div class="form-group">
                                            <p class="mg-b-0 text-danger">@ViewBag.Error</p>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <button type="submit" class="btn btn-primary">Đăng nhập</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Core Vendors JS -->
    <script src="~/Adminassets/js/vendors.min.js"></script>

    <!-- page js -->
    <!-- Core JS -->
    <script src="~/Adminassets/js/app.min.js"></script>
    <script src="~/AdminAssets/js/pages/form-validation.js"></script>
    <script src="~/AdminAssets/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script>
        $("#form-validation").validate({
            ignore: ':hidden:not(:checkbox)',
            errorElement: 'div',
            errorPlacement: function (error, element) {
                error.insertAfter(element.closest('div'));
            },
            errorClass: 'is-invalid',
            validClass: 'is-valid',
            rules: {
                AccountName: {
                    required: true,
                },
                Password: {
                    required: true,
                },
            },
            messages: {
                AccountName: {
                    required: "Vui lòng nhập tên tài khoản",
                },
                Password: {
                    required: "Vui lòng nhập mật khẩu",
                }
            }
        });
    </script>
</body>

</html>


